@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500&display=swap');
.ul {
    width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0 auto;
  color: aliceblue;
  padding: 24px 0;
}
.ul li {
    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 900;
    color: whitesmoke;
}

.list {
  height: 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  font-family: Manrope;
  padding: 20px;
  letter-spacing: 0.03em;
  color: #000000;
  align-items: center;
}

.gucci-head {
  margin-left: 445px;
  color: whitesmoke;
  font-family: "Gelasio";
  font-size: 34px;
  letter-spacing: 11px;
  margin-top: 21px;
  margin-bottom: 11px;
}


.location {
  width: 12px;
  margin-top: 17px;
  margin-left: 17px;
  height: 12px;
  
}

.phone {
    margin-top: 17px;
    margin-left: 90px;
    width: 12px;
    height: 12px;
}
.telefon {
    font-family: Outfit;
    font-size: 12px;
    margin-top: 15px;
}


.header-img {

  display: flex;
}

.header-phone {

    display: flex;
  }

.turk {
    font-family: Outfit;
    font-size: 12px;
    margin-top: 15px;


}

.umumm {
  background-color: rgb(248, 248, 248);
}

.ggg {
    margin-top: 197px;
    text-align: center;
    font-size: 50px;
    font-family: Outfit;
    color: aliceblue;
    margin-left: 18px;
  }
  

.header7 {
    height: 630px;
    background-image: url('/gucci/menn.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


.main1 {
  height: 420px;
  background-image: url('/gucci/menn.webp');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.main {
    display: flex;
    background-color: rgb(248, 248, 248);
}


.men1 {
    height: 800px;
    width: 500px;
    background-image: url('/gucci/men.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px 130px 20px 130px;
  }

  .men2 {
    height: 380px;
    width: 710px;
    background-image: url('/gucci/men1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  .men3 {
    height: 380px;
    width: 710px;
    background-image: url('/gucci/men2.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

  }

  .men4 {
    height: 530px;
    width: 735px;
    background-image: url('/gucci/men3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

  }

  .men5 {
    height: 530px;
    width: 735px;
    background-image: url('/gucci/men4.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

  }

  .men6 {
    height: 490px;
    width: 490px;
    background-image: url('/gucci/men5.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

  }

  .men7 {
    height: 490px;
    width: 490px;
    background-image: url('/gucci/men6.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

  }

  .men8 {
    height: 490px;
    width: 490px;
    background-image: url('/gucci/men7.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

  }

  .kkkkmen {
    display: flex;
  }

  .asus3men {
    display: flex;
  }

  .asus4men {
    display: flex;
  }

  .menmen2 {
    margin-left: 270px;
    margin-top: 30px;
    font-family: Outfit;
    font-size: 30px;
  }

  .uuuu2 {
    margin-left: 300px;
    margin-top: 10px;
    font-family: Outfit;
    font-size: 12px;
  }

  .menmen3 {
    margin-top: 30px;
    margin-left: 310px;
    font-family: Outfit;
    font-size: 30px;
  }

  .uuuu3 {
    margin-left: 312px;
    margin-top: 13px;
    font-family: Outfit;
    font-size: 12px;
  }

  .menmen4 {
    margin-top: 470px;
    font-family: Outfit;
    font-size: 30px;
    
  }

  .uuuu4 {
    font-family: Outfit;
    font-size: 12px;
  }

  .menmen5 {
    margin-top: 470px;
    font-family: Outfit;
    font-size: 30px;
  }
  .uuuu5 {
    font-family: Outfit;
    font-size: 12px;
  }

  .menmen6 {
    margin-top: 430px;
    font-family: Outfit;
    font-size: 30px;
  }

  .uuuu6 {
    font-family: Outfit;
    font-size: 12px;
  }

  .menmen7 {
    margin-top: 430px;
    font-family: Outfit;
    font-size: 30px;
  }

  .uuuu7 {
    font-family: Outfit;
    font-size: 12px;
  }

  .menmen8 {
    margin-top: 430px;
    font-family: Outfit;
    font-size: 30px;
  }

  .uuuu8 {
    font-family: Outfit;
    font-size: 12px;
  }


  .end-button {
    height: 747px;
    width: 1480px;
    background-color: #1c1c1c;
    margin-top: 75px;
  
  }
  
  .endbtnf {
    display: flex;
  }
  
  .href1 {
    color: aliceblue;
    margin-left: 29px;
    font-family: Outfit;
  
  }
  
  .href2 {
    color: aliceblue;
    margin-left: 24px;
    margin-top: 30px;
    font-family: Outfit;
  
  }
  
  .href3 {
    color: aliceblue;
    font-family: Outfit;
  
  }
  
  .href4 {
    color: aliceblue;
    margin-left: 72px;
    font-family: Outfit;
  
  }
  
  .href5 {
    color: aliceblue;
    margin-left: 14px;
    font-family: Outfit;
  
  }
  
  .href6 {
    color: aliceblue;
    margin-left: 199px;
    font-family: Outfit;
  
  }
  .href7 {
    color: aliceblue;
    margin-left: 217px;
    font-family: Outfit;
  
  }
  
  .href8 {
    color: aliceblue;
    margin-left: 207px;
    font-family: Outfit;
  
  }
  
  .href9 {
    color: aliceblue;
    margin-left: 170px;
    font-family: Outfit;
  
  }
  
  .href10 {
    color: aliceblue;
    margin-left: 158px;
    font-family: Outfit;
  
  }
  
  .href11 {
    color: aliceblue;
    margin-left: 277px;
    font-family: Outfit;
  
  }
  
  .href12 {
    color: aliceblue;
    margin-left: 260px;
    font-family: Outfit;
  
  }
  
  .href13 {
    color: aliceblue;
    margin-left: 46px;
    font-family: Outfit;
  
  }
  
  .href14 {
    color: aliceblue;
    margin-left: 38px;
    font-family: Outfit;
  
  }
  
  .href15 {
    color: aliceblue;
    font-family: Outfit;
  
  }
  .pp555 {
    color: aliceblue;
    margin-left: 336px;
    font-family: Outfit;
    font-size: 12px;
  
  }
  .pp666 {
    color: aliceblue;
    margin-left: 278px;
    margin-top: 10px;
    font-family: Outfit;
    font-size: 12px;
  
  }
  
  .pp777 {
    color: aliceblue;
    margin-left: 80px;
    margin-top: 10px;
    font-family: Outfit;
    font-size: 12px;
  
  }
  
  .pp888 {
    margin-top: 60px;
    font-size: 300px;
    letter-spacing: 5px;
    font-family: Outfit;
    color: aliceblue;
  }
  
  
  .pp111 {
    color: #4e4e4e;
    font-weight: bolder;
    font-family: Outfit, sans-serif;
    letter-spacing: 1px;
    margin-left: 100px;
    font-size: 13px;
  }
  
  .pp222 {
    color: #4e4e4e;
    font-weight: bolder;
    font-family: Outfit, sans-serif;
    letter-spacing: 1px;
    margin-left: 227px;
    font-size: 13px;
  }
  
  .pp333 {
    color: #4e4e4e;
    font-weight: bolder;
    font-family: Outfit, sans-serif;
    letter-spacing: 1px;
    margin-left: 24px;
    font-size: 13px;
  }
  
  .pp444 {
    color: #4e4e4e;
    font-weight: bolder;
    font-family: Outfit, sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    font-size: 13px;
    margin-left: 114px;
  }
